.list-group-item {
    background: none !important;
}

.btn-small-icon {
    width: 30px !important;
    height: 30px !important;
    min-width: 30px !important;
}

.swal2-container input,textarea,select {
    background-color: white !important;
    color: black !important;
}

.color-picker {
    width: 100% !important;
    border-radius: 5px !important;
    height: 40px;
}

input[type="text"]:disabled {
    color: black !important;
}

div.data-hidden {
    display: none;
}

.hidden {
    display: none !important;
}