{% extends "layouts/base.html" %} {% block title %} Images {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<div class="content">
    <div class="panel-header bg-primary-gradient">
        <div class="page-inner py-5">
            <div class="d-flex align-items-left align-items-md-center flex-column flex-md-row">
                <div>
                    <h2 class="text-white pb-2 fw-bold">AI Models</h2>
                    <h5 class="text-white op-7 mb-2"></h5>
                </div>
                <div class="ml-md-auto py-2 py-md-0">
                    <button id="btn-upload" class="btn btn-secondary btn-round">Add Models</button>
                </div>
            </div>
        </div>
    </div>
    <div class="page-inner mt--5">
        <div class="row row-card-no-pd">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-head-row card-tools-still-right">
                            <h4 class="card-title">Firmwares</h4>
                            <div class="card-tools">
                                <button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-angle-down"></span></button>
                                <button class="btn btn-icon btn-link btn-primary btn-xs btn-refresh-card"><span class="fa fa-sync-alt"></span></button>
                                <button class="btn btn-icon btn-link btn-primary btn-xs"><span class="fa fa-times"></span></button>
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="table-responsive table-hover table-sales">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>File name</th>
                                                <th>Version</th>
                                                <th>Description</th>
                                                <th>Uploaded at</th>
                                                <th>Uploaded by</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for image in images %}
                                            <tr id="image-{{ image.id }}">
                                                <td>{{ image.name }}</td>
                                                <td>{{ image.file }}</td>
                                                <td>{{ image.version }}</td>
                                                <td>{{ image.description }}</td>
                                                <td>{{ image.created_at }}</td>
                                                <td>{{ image.owner }}</td>
                                                <td>
                                                    <button type="button" class="btn btn-danger btn-icon btn-small-icon btn-border btn-round" onclick="deleteImage({{image.id}})">
														<i class="fa fa-times"></i>
													</button>
                                                </td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- SweetAlert Template -->
<template id="image-upload">
    <swal-title>Add Model</swal-title>
    <swal-html>
        <form id="image-upload-form">
            <div class="form-group form-inline">
                <label for="inlineinput" class="col-md-3 col-form-label">Name</label>
                <div class="col-md-9 p-0">
                    <input name="name" type="text" class="form-control input-full" id="inlineinput" placeholder="Enter input">
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="inlineinput" class="col-md-3 col-form-label">Version</label>
                <div class="col-md-9 p-0">
                    <input name="version" type="text" class="form-control input-full" id="inlineinput" placeholder="Enter input">
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="inlineinput" class="col-md-3 col-form-label">Description</label>
                <div class="col-md-9 p-0">
                    <textarea name="description" type="text" class="form-control input-full" id="inlineinput" placeholder="Enter input"></textarea>
                </div>
            </div>
            <div class="form-group form-inline">
                <label for="inlineinput" class="col-md-3 col-form-label">Select File</label>
                <div class="col-md-9 p-0">
                     <input type="file" id="file" name="file-input" class="form-control input-full" />
                </div>
            </div>
        </form>
    </swal-html>
</template>
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="/static/assets/js/baonv/ai-models.js"></script>
{% endblock javascripts %}